# Ignore file for minecraft directories/files that are not code.
backup
oldbin
overviewer
overviewer_old
mclogalyzer
mclogalyzer_old
web
client
*.converted
*.tar
*.old
*.log
*.jar
*.png
*.json
logs
world*
DIM*
eula.txt
*crash-reports
